{% extends 'main.html' %} {% block content %}

<!-- Main Section -->
<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper">
      <a class="backButton" href="#"><i class="im im-angle-left"></i></a>
      <br />

      <form class="form" method="POST" action="">
        {% csrf_token %}
        <p> را حذف کنید؟ "{{object}} ایا واقعا میخواهید "</p>
        <br>
        <a class="btn btn--sub--outline " href="{{request.GET.next}}">برگشت</a>
        <input class="btn btn--sub btn--lg" type="submit" value="تایید" />
      </form>
    </div>
  </div>
</main>

{% endblock %}