{% extends 'main.html' %}

{% block content %}


<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h3>بازنشانی رمز عبور ارسال شد</h3>
            <p>اگر حسابی با ایمیلی که وارد کرده‌اید، دستورالعمل‌هایی را برای تنظیم رمز عبور برای شما ایمیل کرده‌ایم.
                باید به زودی آن‌ها را دریافت کنید.</p>
            <p>اگر ایمیلی دریافت نکردید، لطفاً مطمئن شوید که آدرسی را که با آن ثبت نام کرده اید وارد کرده اید و پوشه
                هرزنامه خود را بررسی کنید.</p>


            </form>
        </div>
    </div>
</main>

{% endblock content %}