<!DOCTYPE html>
<html lang="en">

<body>
  <div class="auth">
    <div class="card">
      <div class="auth__header text-center">
        <a href="/">
          <img src="images/icon.svg" alt="icon" />
        </a>
        <h3>ثبت نام حساب</h3>
        <p>یک حساب جدید ایجاد کنید</p>
      </div>

      <form action="#" class="form auth__form">
        <!-- Input:Text -->
        <div class="form__field">
          <label for="formInput#text">نام و نام خانوادگی: </label>
          <input class="input input--text" id="formInput#text" type="text" name="text"
            placeholder="e.g. Dennis Ivanov" />
        </div>

        <!-- Input:Email -->
        <div class="form__field">
          <label for="formInput#email">آدرس ایمیل: </label>
          <input class="input input--email" id="formInput#email" type="email" name="email"
            placeholder="e.g. user@domain.com" />
        </div>

        <!-- Input:Password -->
        <div class="form__field">
          <label for="formInput#password">کلمه عبور: </label>
          <input class="input input--password" id="formInput#passowrd" type="password" name="password"
            placeholder="••••••••" />
        </div>
        <!-- Input:Password -->
        <div class="form__field">
          <label for="formInput#confirm-password">تایید رمز عبور: </label>
          <input class="input input--password" id="formInput#confirm-passowrd" type="password" name="confirm-password"
            placeholder="••••••••" />
        </div>
        <div class="auth__actions">
          <input class="btn btn--sub btn--lg" type="submit" value="Sign  In" />
        </div>
      </form>
      <div class="auth__alternative">
        <p>Already have an Account?</p>
        <a href="login.html">Log In</a>
      </div>
    </div>
  </div>
</body>

</html>