
body{
    background-color: rgb(255, 255, 255);
}

.alert_direction{
    width:31% ;
    margin-left: 36%;
    margin-top: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}